apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend
  labels:
    {{- include "frontend.labels" . | nindent 4 }}
  annotations:
    dev.okteto.com/generate-host: "true"
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
          - path: /apiprofesores
            pathType: Prefix
            backend:
              service:
                name: apiprofesores
                port:
                  number: 3000
          - path: /apimaterias
            pathType: Prefix
            backend:
              service:
                name: apimaterias
                port:
                  number: 2999